.header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/bg.jpeg) no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .banner {
        // background-color: rgb(172, 123, 218);
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .main {
        // background-color: azure;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        min-width: 500px;
        height: 50vh;
        margin-bottom: 50px;

        &-wellcome {
            margin-bottom: 80px;
        }
    }

}

.about-us {
    background-color: rgb(46, 43, 43);
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 0 50px;

    &-left {
        width: 40%;
        margin-right: 80px;

        .img {
            width: 100%;
        }
    }

    &-right {
        width: 60%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px;

    }
}




.gallery .card-wrapper {
    display: flex;
    flex-wrap: wrap;

    .card {
        width: 33.3%;
        height: 33.3vw;
        position: relative;
        overflow: hidden;

        &:hover .card-over {
            opacity: 1;
            z-index: 10;
        }

        &-over {
            position: absolute;
            top: 0;
            left: 0;
            @extend %fullscreen;
            background-color: rgba(24, 15, 7, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 1s;
            opacity: 0;
        }

        img {
            @extend %fullscreen;
            object-fit: cover;
            opacity: 0.7;
        }
    }

}



.footer {
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;

    &-about {
        margin-left: 80px;
    }

    &-logo {
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
    }

    &-header {
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .sotial-media {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        &-item {
            margin: 0 15px;

        }

        &-link {
            color: rgb(201, 198, 192);
            font-size: 50px;
        }

        .blue:hover {
            color: rgb(57, 57, 180);
            transform: scale(1.25);
        }

        .red:hover {
            color: rgb(247, 0, 0);
            transform: scale(1.25);
        }

        .orange:hover {
            color: rgb(214, 47, 25);
            transform: scale(1.25);
        }

        .white:hover {
            color: aliceblue;
            transform: scale(1.25);
        }
    }

    .bottom {
        margin-bottom: 30px;
    }
}




.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            opacity: 0;
            background-color: rgb(51, 51, 51);
            transition: opacity 0.7s;
        }

        .left-img {
            width: 50%;
            position: absolute;
            border-radius: 10px;
            opacity: 0.7;
            box-shadow: 0 0 10px 30px rgb(39, 38, 38);
        }

        .img1 {
            left: 5%;
            top: 5%;
        }

        .img2 {
            left: 10%;
            top: 15%;
        }

        .img3 {
            left: 20%;
            top: 25%;
        }

        &-right {
            width: 50vw;
            position: fixed;
            top: 0;
            right: 0;
            opacity: 0;
            height: 100vh;
            background-color: rgb(14, 13, 13);
            transition: opacity 0.5s;

            .list {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &-item {
                    list-style-type: none;

                }

                &-link {
                    text-decoration: none;
                    color: rgb(148, 146, 144);
                    font-size: 55px;
                    display: block;
                    text-align: center;
                    margin: 20px;
                    transition: all 0.2s;

                    &:hover {
                        color: orange;
                        letter-spacing: 2px;
                    }
                }
            }

        }
    }
    &-menu {
        width: 80px;
        height: 80px;
        position: fixed;
        top: 5%;
        right: 5%;
        z-index: 2000;
        .menu{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            transition: transform 0.5s;
        }
        .menu-line{
            background-color: orange;
            width: 100%;
            height: 4px;
            transform-origin: right ;
            transition: all 0.5s 0.5s;
        }
    }
}

.checkbox:checked~.navbar-navigation .navbar-navigation-left{
    opacity:1;
}
.checkbox:checked~.navbar-navigation .navbar-navigation-right{
    opacity: 1;
}
.checkbox:checked~.navbar-menu .menu{
    transform: rotateZ(2700deg);
}
.checkbox:checked~.navbar-menu .menu-line-1{
    transform: rotateZ(-40deg);
}
.checkbox:checked~.navbar-menu .menu-line-2{
    opacity: 0;
}.checkbox:checked~.navbar-menu .menu-line-3{
    transform: rotateZ(40deg);
}

