.header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(../images/bg.jpeg) no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .banner {
        // background-color: rgb(172, 123, 218);
        display: flex;
        align-items: center;
        padding: 15px;
    }

    .main {
        // background-color: azure;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        min-width: 500px;
        height: 50vh;
        margin-bottom: 50px;
        &-wellcome {
            margin-bottom: 80px;
        }
    }

}